@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000000;
  overflow-x: hidden;
}

/* Efeito de Grid Técnico no Fundo */
.bg-grid {
  background-size: 50px 50px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, transparent, 10%, white, 90%, transparent);
}

/* O Holofote (Spotlight) que segue o mouse */
.spotlight {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(16, 185, 129, 0.15),
    transparent 40%
  );
  position: fixed;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

/* Scrollbar invisível */
::-webkit-scrollbar {
  width: 0px;
}